body {
	background: #83677B;
	font-family: 'Roboto Slab', serif;
	color: #FFFFFF;
}
a {
	text-decoration: none;
	color: inherit;
	text-align: center;
}
a:hover {
	cursor: pointer;
	background-color: #808080;
}
p {
	text-align: center;
	margin: 40px;
}
footer {
	margin-bottom: 10px;
	text-align: center;
}
.wrapper {
	display: grid;
	justify-items: center;
	align-content: center;
	grid-template-rows: auto;
}
.wrapper-index {
	display: grid;
	justify-items: center;
	align-content: center;
	margin-top: 15%;
}
.header {
	font-size: 2vw;
}
.main {
	place-self: center;
	width: 50%;
}
.main-list {
	list-style-type: none;
}
.main-list-items {
	display: inline;
	font-size: 2.5vw;
	margin: auto 3em auto 2em;
}
.left-li {
	float: left;
}
.right-li {
	float: right;
}
.guide {
	text-align: center;
	display: inline;
	padding: 10px 40px;
}
